body{
    background: radial-gradient(#ff00ae 0%, #d67ab9 45%, #ffffff 100%);
}


.nav-link{
    color: aquamarine;
}
.navbar-nav .nav-link.active{
color: #cc5656;
}
.navbar-brand img {
width: 35px;
}

.card {
    background: linear-gradient(0deg, #f05151 0%, #1df741 100%);
}